{% extends "document-email.html" %}

{% block body %}
<p>Greetings!</p>
<p>A Photo/Video Documentation request was received. See below:</p>
<table class="table" width="100%">
    <tr>
        <td width="15%">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Event</td>
        <td>{{event}}</td>
    </tr>
    <tr>
        <td>Format</td>
        <td>{{format|join(', ')}}</td>
    </tr>
    <tr>
        <td>Schedule</td>
        <td>{{dateStart|format_date('MMM DD, YYYY hh:mmA')}} - {{dateEnd|format_date('MMM DD, YYYY hh:mmA')}}</td>
    </tr>
    <tr>
        <td>Location</td>
        <td>{{location}}</td>
    </tr>
</table>
<table class="table" width="100%">
    <tr>
        <td width="15%">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Requestor</td>
        <td>{{requestor}}</td>
    </tr>
    <tr>
        <td>Department</td>
        <td>{{department}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{email}}</td>
    </tr>
    <tr>
        <td>Facebook</td>
        <td>{{fb}}</td>
    </tr>
</table>
<p>--</p>
<p>Best Regards, <br>
<strong>ICT Robot</strong> <br>
Information and Communications Technology Unit (ICTU)<br>
Guimaras State University</p>

{% endblock %}