{% extends "document.html" %}
{% block body %}
<div class="row">
    <div class="col-12 pt-5">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active font-weight-bold" href="/admin/calendar/all?date={{date|format_date('YYYY-MM-DD')}}">Calendar</a>
            </li>
        </ul>
        <div class="tab-content p-3" style="border-radius:0 0 5px 5px;">
            <!-- {% include 'parts/flash.html' %} -->
            <div class="p-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" href="/admin/calendar/all">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/calendar/view/{{date|format_date('YYYY-MM-DD')}}/event/all">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/calendar/view/{{date|format_date('YYYY-MM-DD')}}/document/all">Documents</a>
                    </li>
                </ul>
                <div class="tab-content p-3" style="border-radius:0 0 5px 5px;">
                    <a href="/admin/calendar/view/{{date|format_date('YYYY-MM-DD')}}/task/create" class="btn btn-success mb-3">Add</a>

                    <div class="table-responsive">
                        <table class="table table-sm table-striped mb-0 border">
                            {% if tasks.length > 0 %}
                            <tr>
                                <th width="1%">#</th>
                                <th width="10%">Status</th>
                                <th width="29%">Name</th>
                                <th width="20%">Description</th>
                                <th>Due</th>
                                <th width="5%"></th>
                                <th width="5%"></th>
                                <th width="5%"></th>
                                <th width="5%"></th>
                            </tr>
                            {% endif %}
                            {%- for task in tasks %}
                            
                            <tr class="{% if task.status === 2 %}text-info{% endif %}{% if task.status === 3 %}text-success{% endif %}">
                                <td>{{loop.index}}</td>
                                <td>{{task.status|replace(1, 'Pending')|replace(2, 'Doing')|replace(3, 'DONE')}}</td>
                                <td>{{task.name}}</td>
                                <td>{{task.description}}</td>
                                <td>{{task.dueAt|format_date('MMM DD, YYYY')}}</td>
                                <td>
                                    {% if task.status !== 1 %}
                                    <a href="/admin/calendar/view/{{date|format_date('YYYY-MM-DD')}}/task/status/{{task.id}}/1" class="btn btn-sm p-1 btn-light m-1">⌛</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if task.status !== 2 %}
                                    <a href="/admin/calendar/view/{{date|format_date('YYYY-MM-DD')}}/task/status/{{task.id}}/2" class="btn btn-sm p-1 btn-light m-1">💪</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if task.status !== 3 %}
                                    <a href="/admin/calendar/view/{{date|format_date('YYYY-MM-DD')}}/task/status/{{task.id}}/3" class="btn btn-sm p-1 btn-light m-1">✔</a>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="/admin/calendar/view/{{date|format_date('YYYY-MM-DD')}}/task/delete/{{task.id}}" class="btn btn-sm p-1 btn-danger m-1">✕</a>
                                </td>
                            </tr>
                            {% endfor -%}
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}