{% extends "document.html" %}

{% block body %}
<div class="row">
    <div class="col-md-12 ml-auto mr-auto pt-5 pb-5 " style="max-width:800px">
        {% include 'parts/header.html' %}
        <div class="text-center p-md-4 p-3 bg-glass" style="min-width: 300px;">
            <h1 class="text-center h4">Request Sent</h1>
            <p>Please take note of your reference #: </p>
            <h2 class="h1 text-danger">{{gsuid.uid}}</h2>
            <!-- <a href="/services/survey" class="btn btn-light">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path fill="#ff9800" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" /></svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path fill="#ff9800" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" /></svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path fill="#ff9800" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" /></svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path fill="#ff9800" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" /></svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path fill="#ff9800" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" /></svg>
                <br>
                CLICK HERE to Rate Us!
            </a>
            <div>or</div>
            <a href="/services/tarp">Add another request</a> -->
        </div>
    </div>
</div>
{% endblock %}
