{% extends "document.html" %}

{% block body %}
    <div class="row">
        <div class="col-md-12 mb-5">
            <header class="text-center pl-4 pr-4">
                <img class="mb-4" width="150" height="150" src="/images/logo-ictu.png" alt="ICT Logo">
                <h1 class="h4">Director's <span class="text-danger">Portal</span> </h1>
                <a href="/admin" class="btn btn-light">Admin</a>
                <a href="/login" class="btn btn-light">Login</a>
            </header>
        </div>
    </div>
    
{% endblock %}
</body>
</html>
